[submodule "spacemacs"]
	path = spacemacs
	url = https://github.com/humacs/spacemacs
	branch = main
[submodule "doom-emacs"]
	path = doom-emacs
	url = https://github.com/hlissner/doom-emacs
	branch = master
[submodule "spacemacs-config"]
	path = spacemacs-config
	url = https://github.com/humacs/.spacemacs.d
	branch = main
