export SSH_KEY="~/.ssh/id_rsa.pub"
export HUMACS_GIT_EMAIL="hh@ii.coop"
export HUMACS_GIT_NAME="Hippie Hacker"
export CLUSTER_NAME="$USER-humacs"
export PACKET_PROJECT_ID="PACKET-IS-AWESOME"
export PACKET_API_KEY="HARDWARE-IS-BEST"
